<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Use Cases Test Report">
	<parameter name="scenarioFilter" value="random" />
	<parameter name="stopOnError" value="false" />
	<test name="E2E-AUTOMATION-TEST" group-by-instances="true">
		<classes>
			<class name="io.mosip.testrig.dslrig.ivv.orchestrator.Orchestrator" />
		</classes>
	</test>
		<listeners>
		<listener
			class-name="io.mosip.testrig.dslrig.ivv.orchestrator.ThreadCountChanger" />
	

		<listener
			  class-name="io.mosip.testrig.dslrig.ivv.orchestrator.EmailableReport" />
			
	</listeners>

</suite>