<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="DSL_E2E_AUTOMATION-RUN">
	<parameter name="scenarioFilter" value="random" />
	<parameter name="stopOnError" value="false" />
	<test name="E2E-AUTOMATION-TEST" group-by-instances="true">
		<classes>
			<class name="io.mosip.ivv.orchestrator.Orchestrator" />
		</classes>
	</test>

	<listeners>
		<listener
			class-name="io.mosip.ivv.orchestrator.ThreadCountChanger" />
	</listeners>
		  	<listeners>
		<listener
			class-name="io.mosip.ivv.orchestrator.EmailableReport" />
	</listeners>

</suite>

